.carousal-main{
    height: 600px;
    overflow: hidden;
    position: relative;
    
}
.carousal-image{
    width: 100%;
    height: 600px;
    object-fit: fill;
 
}
.carousel-indicators{
    display: none;
}
.carousel-item {
    transition: transform 2s ease, opacity 2s ease;
  }